html {
  height: 100% !important;
  margin: 0;
}

body {
  margin: 0;
  color: white;
  background-color: rgb(20, 16, 16);
  background-image: radial-gradient(#cfcfcf, transparent 5%);
  background-size: 50px 50px;
  font-weight: 400;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, serif;
}

::selection {
  background: #493700; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffe081; /* Gecko Browsers */
}

.center {
  text-align: center;
}

.title h3 {
  font-size: 4em;
  font-weight: 500;
  font-family: 'Merriweather', serif;
}

.typewriter h1 {
  text-align: center;
  padding: 0px 10px;
  font-size: 5em;
  font-weight: 500;
  font-family: 'Merriweather', serif;
}

.warning {
  color: #ffc107!important;
}

a:link {
  color: #c99700!important;
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

a:visited {
  color: #946f00!important;
}