@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }
}

body {
  margin: 0;
  color: white;
  background-color: rgb(20, 16, 16);
  background-image: radial-gradient(#cfcfcf, transparent 5%);
  background-size: 50px 50px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, serif;
  height: 100%;
}
